:root {
    --white: #fff;
    --semi-white: #d7ccc0;
    --bright: #f5f4f0;
    --main-color: #fe8a02;
    --main-color-dark:  #42413c;
    --dark: #2a2626;
    --semi-dark: #908d8b;
    --brown: #b09a81;
    --blue:  #1085c5;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--dark)
}

h1, h2, h3, h4, h5 {
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

section {
    max-width: 1110px;
    text-align: center;
    margin: 100px 0;
}
